h1 {
    color: aquamarine;
}

#place-title {
    color: blueviolet;
}

#fruits-title {
    color: brown;
}

#country-title {
    color: chartreuse;
}

.places {
    color: gold
}

.yellow-bg {
    background-color: yellowgreen ! important;
}

.large-text {
    font-size: 2em;
}